<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>152557412847-tvjlm49a6oqc5pnan4a5tp1t7lq574ee.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.152557412847-tvjlm49a6oqc5pnan4a5tp1t7lq574ee</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>152557412847-m77pa0n83a7sgrabh68sfut0a6a03bra.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDp3OunUshHZb1yoAQrCKqg9iadjjI1SXU</string>
	<key>GCM_SENDER_ID</key>
	<string>152557412847</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebaseLogin</string>
	<key>PROJECT_ID</key>
	<string>device-80261</string>
	<key>STORAGE_BUCKET</key>
	<string>device-80261.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:152557412847:ios:8c1fd495f461f278ef961a</string>
	<key>DATABASE_URL</key>
	<string>https://device-80261.firebaseio.com</string>
</dict>
</plist>